<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QRGen - QR Code Generator</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\style.css">
</head>
<body>
    <h1>QRGen - QR Code Generator</h1>

    <form id="qr-form">
        <label for="data-input">Data:</label>
        <input type="text" id="data-input" name="data" required>
        <button type="submit">Generate QR Code</button>
    </form>

    <div id="qr-code" class = "qr-code"></div>

    <script src="..\static\js\script.js"></script>
</body>
</html>
